<!-- task was to build an api, there was no need to make an page, i did so to visusalize the routes and requests
though we can always send 'get' & 'post' requests to the endpoints -->

<%- include("partials/header"); -%>
    <div class="container">
      <h2>Welcome to dashboard</h2>
      <h3>Get or Add Products</h3>
      <div class="btns">
      <a href="/showproducts"><button id="getBtn">Get Products</button></a>
      <a href="/add"><button id="addBtn">Add Product</button></a>
      </div>
    </div>
    <%- include("partials/footer"); -%>